<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
<form method="post" action="/admin-post" enctype="multipart/form-data">
    <input type="text" placeholder="titre" name="titre" >
    <input type="textarea" placeholder="description" name="description" >
    <input type="file" name="media" accept=".jpg, .jpeg, .png" method="post">
    <input type="text" placeholder="auteur" name="auteur">
    <button type="submit">Envoyer</button>
</form>
<form action="/">
        <button>Retour à l'accueil</button>
        </form>
<script src="script.js"></script>
</body>
</html>