
<head>
    <link rel="stylesheet" href="index.css">
    <title>Contact</title>
</head>
<h1>Me contacter</h1>
<form method="post" action="contact-post">
    <input type="email" name="email" placeholder="Votre email...">
    <input type="text" name="title_contact" placeholder="Titre de votre message ...">
    <textarea name="textarea_contact" id="textarea" cols="30" rows="10" placeholder="Message..."></textarea>
    <button>Envoyer</button>
</form>
<form action="/">
    <button>Retour à l'accueil</button>
</form>
