
<body>
    <footer>
    <div id="contact">
            <img class="title" src="monlogo2.png" alt="mon logo"> 

        <h1>Portfolio de Joris</h1>
        <a href="mailto:guienjoris@gmail.com"><ion-icon name="mail" ></ion-icon></a><p>guienjoris@gmail.com</p>
        <a href="https://www.linkedin.com/in/joris-guien/" target="_blank"> <ion-icon name="logo-linkedin"></ion-icon></a>
        <a href="https://twitter.com/Fratley83" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="https://github.com/guienjoris"><ion-icon name="logo-github"></ion-icon></a>
        <p id="copyright">© Copyright by Guien Joris 2019</p>
    </div>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>