<nav>
     <img class="title" src="monlogo2.png"  alt="mon logo"> 
     <a href="logout" onclick="logout()">Se deconnecter</a>

    <a href="contact">Me contacter</a>
    <a href="login">Login</a>
    <a href="register">Créer un compte</a>
    <a href="/">Accueil</a>

    </nav>

    <script>
        
            function logout(){
            var message = "Vous êtes bien déconnecté"
            alert(message);
            }
    </script>
    