<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h2>Utilisateur:  </h2>
    <h1>Mes Projets</h1>
    <% include project %>
    
    <a href="contact">Me contacter</a>
    <a href="login">Login</a>
    <a href="register">Créer un compte</a>
    <a href="logout">Se deconnecter</a>
    
</body>
</html>

