
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Créer un compte</title>
    <link rel="stylesheet" href="index.css">
</head>
<form action="register" method="post">
        <label for="username">Adresse mail: </label>
        <input type="text" name="username" placeholder="adresse email">
        <label for="password"> Mot de passe: </label>
        <input type="password" name="password" placeholder="password">
    <button type="submit">Envoyer</button>
</form>
<form action="/">
    <button>Retour à l'accueil</button>
    </form>